@{
    ViewBag.Title = "Painel - Com métricas de registo das notificações";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <a href="@Url.Action("PainelToPrint","Relatorios")" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Gerar Relatório
    </a>
</div>
<!-- Content Row -->
<div class="row">


    @{Html.RenderAction("_StatusCard");}

</div>
<!-- Content Row -->

<div class="row">
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <div class="col-xl-8 col-md-7 col-lg-7">
        @{Html.RenderAction("_PedidosAnualChart");}
        @{Html.RenderAction("_PedidosMensalPagasChart");}
    </div>
    @{Html.RenderAction("_PedidosStatusDonut");}
</div>

<!-- Project Card Example -->

@{Html.RenderAction("_FinalidadesProcesso");}